.cr-about {
  margin: 0 auto;
  padding: 80px 7%;
  background-color: #ffff;
  position: relative;
  display: flex;

  @media only screen and (max-width: 768px) {
    padding: 10px;
    max-width: 100%;
    gap: 0px;
    padding-top: 60px;
    flex-direction: column;
    background: linear-gradient(180deg, #ffff 70%, #f9efdb 30%);
  }

  &__text {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 20px;
    width: 50%;

    @media only screen and (max-width: 768px) {
      padding: 0px 20px;
      gap: 0px;
      width: 90%;
      margin-top: -30px;
    }

    &_title {
      font-family: 'Maharlika', serif;
      font-size: 35px;
      color: #f3c580;
      font-weight: 300;

      @media only screen and (max-width: 768px) {
        font-size: 30px;
      }

      strong {
        font-size: 60px;
        color: #d4a55d;
        margin-top: -10px;

        @media only screen and (max-width: 768px) {
          display: block;
          margin-top: 0px;
          font-size: 40px;
        }
      }
    }

    &_subtitle p {
      font-size: 18px;
      font-weight: 700;
      font-family: Now;
      line-height: 140%;
      color: #373431;

      @media only screen and (max-width: 768px) {
        font-size: 16px;
      }
    }

    &_description p {
      font-family: Now;
      color: #373431;
      line-height: 140%;
      font-size: 16px;
      font-weight: 500;

      @media only screen and (max-width: 768px) {
        font-size: 16px;
        margin-top: 10px;
      }
    }
  }

  &__image {
    position: absolute;
    right: 5%;
    top: 40px;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: 768px) {
      align-items: center;
      position: relative;
      right: 0;
    }

    &_pic {
      &:nth-child(1) {
        img {
          max-width: 450px;
          @media only screen and (max-width: 768px) {
            max-width: 350px;
          }
        }
      }
      &:nth-child(2) {
        img {
          max-width: 420px;
          transform: translate(-100px, -100px);
          @media only screen and (max-width: 768px) {
            max-width: 300px;
            transform: translate(30px, -50px);
          }
        }
      }
    }
  }
}
