.cr-banner {
  position: relative;
  width: 100vw;
  overflow: hidden;

  &__text {
    background-color: #eab440;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-family: 'Square Peg', cursive;
    font-size: 45px;
    text-align: center;
    max-width: 500px;
    font-weight: 300;

    @media only screen and (max-width: 768px) {
      font-size: 45px;
      min-width: 300px;
    }
  }

  &__image {
    display: flex;

    img {
      width: 100%;
    }

    @media only screen and (max-width: 768px) {
      align-items: flex-end;
    }
  }
}
