.cr-clients {
  width: 100vw;
  background-image: url('../images/wallpaper.jpg');
  background-size: contain;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h3 {
    font-family: 'Square Peg', cursive;
    color: #683b16;
    font-size: 60px;
    margin-bottom: 30px;
  }

  &__container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;

    &_baloon {
      position: relative;
      width: 350px;
      height: 130px;
      background: #efefef;
      border: 1px solid #a7a7a7;
      border-radius: 4px;
      box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
      padding: 15px;
      margin: 0 auto;
      display: flex;
      align-items: center;

      &-arrow {
        position: absolute;
        right: 15px;
        bottom: -25px;
        border-left: 21px solid transparent;
        border-top: 20px solid rgba(0, 0, 0, 0.2);

        &::before {
          content: '';
          position: absolute;
          right: 5px;
          bottom: 2px;
          border-left: 23px solid transparent;
          border-top: 23px solid #a7a7a7;
        }

        &::after {
          content: '';
          position: absolute;
          right: 6px;
          bottom: 4px;
          border-left: 21px solid transparent;
          border-top: 21px solid #efefef;
        }
      }
    }
  }
}

.glide {
  &__Slide {
    height: 150px !important;
  }

  &__arrow {
    border: none;
    font-size: 60px;
    box-shadow: none;
    color: #683b16;

    @media only screen and (max-width: 768px) {
      display: none;
    }
  }
}
