.cr-footer {
  background-color: #d4a55d;
  padding: 30px;
  bottom: 0;

  @media only screen and (max-width: 768px) {
    display: none;
  }

  &__nav {
    display: flex;
    align-items: center;
    flex-direction: column;

    &_divider {
      height: 1px;
      width: 1000px;
      display: block;
      align-self: start;
      background-color: #f7c06e;
      margin: 0 auto;
      margin-bottom: 30px;

      @media only screen and (max-width: 768px) {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 10px;
      }
    }

    &_list {
      display: flex;
      gap: 100px;
      align-items: center;
      justify-content: center;

      @media only screen and (max-width: 768px) {
        gap: 10px;
        flex-wrap: wrap;
      }

      li {
        a {
          font-family: Now;
          color: white;
          font-size: 20px;
          font-weight: 300;
          transition: color 1s cubic-bezier(0.075, 0.82, 0.165, 1);

          &:hover {
            color: #ffd597;
          }
        }

        i {
          font-size: 24px;
        }
      }
    }
  }
}
