.cr-schedule {
  background-color: #d4a55d;
  height: auto;
  display: flex;
  color: #efe3d7;
  align-items: center;
  padding: 80px 120px;
  gap: 150px;
  font-family: Now;
  justify-content: center;

  @media only screen and (max-width: 768px) {
    gap: 20px;
    padding: 30px 10px 80px;
    flex-direction: column;
    text-align: center;
  }

  &__logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    font-size: 18px;

    @media only screen and (max-width: 768px) {
      align-items: center;
    }

    img {
      max-width: 200px;
      margin-bottom: 10px;
    }

    &_divider {
      height: 2px;
      width: 250px;
      display: block;
      align-self: start;
      background-color: #f7c06e;
      margin-left: 0px;

      @media only screen and (max-width: 768px) {
        align-self: center;
      }
    }

    &_main {
      line-height: 1.6;
    }

    &_secondary {
      font-weight: 300;
      line-height: 1.6;
    }

    &_boxicons {
      align-self: start;
      display: flex;
      flex-direction: column;
      gap: 7px;

      @media only screen and (max-width: 768px) {
        align-self: center;
      }
    }

    &_icons {
      display: flex;
      align-items: center;
      color: #fde8c7;

      &:visited,
      &:focus,
      &:active {
        color: #fde8c7;
      }

      svg {
        margin-right: 5px;
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    h3 {
      font-family: 'Maharlika', serif;
      font-size: 80px;
      font-weight: 300;
      text-align: center;

      @media only screen and (max-width: 768px) {
        font-size: 60px;
      }
    }

    p {
      width: 80%;
      line-height: 1.5;
      text-align: center;
    }

    &_secondary {
      display: flex;
      align-items: center;
      font-weight: 300;
    }

    &_divider {
      margin: 20px auto;
      height: 2px;
      width: 250px;
      display: block;
      align-self: start;
      background-color: #f7c06e;

      @media only screen and (max-width: 768px) {
        align-self: center;
      }
    }

    a {
      position: absolute;
      bottom: -45px;
      background-color: white;
      color: #f7c06e;
      font-size: 20px;
      border: 1px solid #f1b253;
      padding: 10px 40px;
      border-radius: 5px;
      border: 0px;
      font-weight: 700;
      cursor: pointer;
      font-family: 'Maharlika', serif;
      transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);

      &:hover {
        background-color: #f1b253;
        border: 1px solid white;
        color: white;
      }
    }
  }
}
