.cr-schedule {
  background-color: #683b16;
  height: auto;
  display: flex;
  color: white;
  align-items: center;
  padding: 80px 120px;
  gap: 150px;

  &__logo {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 18px;

    img {
      max-width: 200px;
      margin-bottom: 10px;
    }

    &_divider {
      height: 2px;
      width: 250px;
      display: block;
      align-self: start;
      background-color: #7c614b;
      margin-left: 0px;
    }

    &_secondary {
      font-weight: 300;
    }
  }

  &__text {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 300px;
    justify-content: space-between;

    h3 {
      font-family: 'Square Peg', cursive;
      font-size: 120px;
      font-weight: 300;
      text-align: center;
    }

    p {
      width: 80%;
      text-align: center;
    }

    &_secondary {
      font-weight: 300;
    }

    &_divider {
      margin: 20px auto;
      height: 2px;
      width: 250px;
      display: block;
      align-self: start;
      background-color: #7c614b;
    }

    a {
      background-color: white;
      margin-top: 30px;
      color: #683b16;
      font-size: 20px;
      border: 1px solid #683b16;
      padding: 10px 40px;
      border-radius: 5px;
      border: 0px;
      font-weight: 700;
      cursor: pointer;
      font-family: 'Source Serif Pro', serif;
      transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);

      &:hover {
        background-color: #683b16;
        border: 1px solid white;
        color: white;
      }
    }
  }
}
