.cr-schedule {
  background-color: #787f50;
  height: auto;
  display: flex;
  color: #efe3d7;
  align-items: center;
  padding: 80px 120px;
  gap: 150px;
  font-family: Now;

  @media only screen and (max-width: 768px) {
    gap: 20px;
    padding: 10px;
    flex-direction: column;
    text-align: center;
  }

  &__logo {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 18px;

    img {
      max-width: 200px;
      margin-bottom: 10px;
    }

    &_divider {
      height: 2px;
      width: 250px;
      display: block;
      align-self: start;
      background-color: #efe3d7;
      margin-left: 0px;

      @media only screen and (max-width: 768px) {
        align-self: center;
      }
    }

    &_main {
      line-height: 1.6;
    }

    &_secondary {
      font-weight: 300;
      line-height: 1.6;
    }
  }

  &__text {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 300px;
    justify-content: space-between;
    position: relative;

    h3 {
      font-family: 'Maharlika', serif;
      font-size: 80px;
      font-weight: 300;
      text-align: center;

      @media only screen and (max-width: 768px) {
        font-size: 60px;
      }
    }

    p {
      width: 80%;
      line-height: 1.5;
      text-align: center;
    }

    &_secondary {
      font-weight: 300;
    }

    &_divider {
      margin: 20px auto;
      height: 2px;
      width: 250px;
      display: block;
      align-self: start;
      background-color: #efe3d7;
    }

    a {
      position: absolute;
      bottom: -70px;
      background-color: white;
      margin-top: 30px;
      color: #787f50;
      font-size: 20px;
      border: 1px solid #373431;
      padding: 10px 40px;
      border-radius: 5px;
      border: 0px;
      font-weight: 700;
      cursor: pointer;
      font-family: 'Maharlika', serif;
      transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);

      &:hover {
        background-color: #787f50;
        border: 1px solid white;
        color: white;
      }
    }
  }
}
