.cr-video {
  display: flex;

  @media only screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }

  &__iframe {
    background-color: #fff;
    padding: 80px 0px;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;

    @media only screen and (max-width: 768px) {
      width: 100%;
      padding: 0px;
    }

    &_box {
      width: 80%;

      @media only screen and (max-width: 768px) {
        width: 100%;
      }

      iframe {
        min-height: 600px;

        @media only screen and (max-width: 768px) {
          min-height: 300px;
        }
      }
    }
  }

  &__text {
    width: 40%;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    padding: 40px;
    flex-direction: column;

    @media only screen and (max-width: 768px) {
      width: 90%;
    }

    &_title {
      font-family: 'Maharlika', serif;
      color: #eab440;
      font-size: 50px;
      font-weight: 400;
      align-self: start;
    }

    &_divider {
      height: 3px;
      width: 70px;
      display: block;
      background-color: #b39379;
      margin-left: 0px;
    }

    &_sub {
      font-size: 18px;
      width: 90%;
      margin-top: 20px;
      font-weight: 400;
      font-family: Now;

      @media only screen and (max-width: 768px) {
        font-size: 16px;
      }
    }
  }
}
